@font-face {
    font-family: 'zabras';
    src: url('fonts/zabars.ttf') format('truetype');
}

body {
    height: 100%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'zabras', Arial, Helvetica, sans-serif;
    background-image: url('img/5_background/body_background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-size: 64px;
    letter-spacing: 5px;
    -webkit-text-stroke: 0.01px #7e431b;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    color: #E98C42;
}

canvas {
    background-color: black;
    border-radius: 20px;
    border: 1px solid rgba(157, 155, 155, 0.5);
    ;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.mainContent {
    position: relative;
    display: flex;
    flex-direction: row;
}

.iconBar {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
    padding-top: 20px;
    
    img {
        height: 24px;
    }

    img:hover {
        cursor: pointer;
        transform: scale(1.2);
    }
}


.controllBar{
    display: flex;
    justify-content: center;
    width: 720px;
    font-size: 32px;
    gap: 50px;
    padding-top: 20px;
}

.d-none {
    display: none;
}

