* {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100vh;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'zabras', Arial, Helvetica, sans-serif;
    font-size: 32px;
    background-image: url('img/5_background/body_background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

canvas {
    display: block;
}

h1 {
    font-size: 64px;
    letter-spacing: 5px;
    -webkit-text-stroke: 0.01px #7e431b;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    color: #E98C42;
    margin-bottom: 32px;
}

.mainContent {
    position: relative;
    display: flex;
    flex-direction: row;
}

.screenBorder {
    background-color: black;
    border-radius: 20px;
    border: 1px solid rgba(157, 155, 155, 0.5);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.iconBar {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
    padding-top: 20px;

    img {
        height: 24px;
    }

    img:hover {
        cursor: pointer;
        transform: scale(1.2);
    }
}

.btnBar {
    width: 100%;
    position: absolute;
    top: 50px;
    display: flex;
    justify-content: center;

    span {
        font-size: 42px;
        color: #FFCC00;
        letter-spacing: 2px;
        filter: drop-shadow(5px 5px 5px #222);
    }

    span:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}

.d-none {
    display: none;
}

.controllBar {
    display: flex;
    justify-content: center;
    width: 720px;
    gap: 50px;
    padding-top: 20px;
}

footer {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 32px;
    font-family: sans-serif;
    font-size: 24px;
    gap: 20px;

    a {
        color: rgb(255, 255, 255);
    }

    a:hover {
        color: black;
    }
}

.mobileHud {    
    width: 100%;
    padding: 0 10px 10px 10px;
    position: absolute;
    bottom: 0;
    left: 0;

    img {
        height: 50px;
    }

    img:hover{
        cursor: pointer;
    }
}

.hudPosition {
    display: flex;
    justify-content: space-between;

    div{
        display: flex;
        gap: 10px;
    }
    
}

@media only screen and (max-width:720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height:480px) {
    canvas {
        height: 100vh;
    }
}